html {
  height: 100%;
  width: 100%;
  background: white;
  overflow-x: hidden;
}

body{
  margin: 2.5vw;
}

/*NAV*/
.topnav {
  /* list-style-type: none; */
}

nav li{
    position: fixed;
    font-family: 'Helvetica Neue','Helvetica','Ubuntu','Roboto','Noto','Segoe     UI','Arial',sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.01em;
    text-align: left;
    line-height: 1.111;
    word-spacing: 0.05rem;
  list-style: none;
  text-transform: uppercase;
  font-size: 22px;
}
hr.hr{
  border: 0.5px dashed black;
}
a{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

a:hover{
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
}  

nav li a:hover{
  text-decoration: underline;
  text-decoration-color: blue;
  color: blue;
}

.active {
  color: black;
text-decoration: none;
}

.active2 {
  text-decoration: none;
  color: black;
}

.worksActive {
  color: #000000;
}
/*NAV*/

/*INDEX/ESSAY PARAGRAPH*/
.section {
font-family: 'Helvetica Neue','Helvetica','Ubuntu','Roboto','Noto','Segoe UI','Arial',sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-align: left;
  color: black;
  line-height: 1.111;
  word-spacing: 0.05rem;
  font-size: 22px;
}
/*INDEX/ESSAY PARAGRAPH*/


/*IMAGES*/
img{
  display: grid;
}

small {
  font-size: 11px;
  font-family: 'Helvetica Neue','Helvetica','Ubuntu','Roboto','Noto','Segoe UI','Arial',sans-serif;
  font-weight: 500;
}

/* GALLERY IMAGE SIZE */
.target4{
  max-width: 100%;
  height: auto;
}
/* GALLERY IMAGE SIZE */

/* MAIN MENU IMAGE SIZE */
.target3{
  max-width: 100%;
  height: auto;
  display: grid;
}
/* MAIN MENU IMAGE SIZE */

/* SPARE IMAGE SIZE */
.target2{
  padding-left: 2.5vw;
  max-width: 75%;
  display: grid;
}
/* SPARE IMAGE SIZE */

/*IMAGES*/


.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2.5vw;
}
.cell{
/*   background-color: rgb(220,220,220); */
  height: auto;
  width: auto;
  
  /* default-small devices */

}[class*="col"]{
  grid-column-end: span 12;
}

/* below 600px typically phone */
@media only screen and (max-width: 600px){
      .oneThird{
        grid-column-end: span 12;
      } 
      .twoThird{
        grid-column-end: span 12;
      }
      .sm1{
        grid-column-end: span 12;
      }
      .sm2{
        grid-column-end: span 6;
      }
      .sm3{
        grid-column-end: span 4;
      }
      .sm4{
        grid-column-end: span 3;
      }
      .sm6{
        grid-column-end: span 2;
      }
      .sm12{
        grid-column-end: span 1;
      }

  body{
  margin: 1.5vw;
}

/*DONT TOUCH*/  
}
/*DONT TOUCH*/



/* above 601px typically tablet */
@media only screen and (min-width: 601px){
      .oneThird{
        grid-column-end: span 4;
      }  
    .twoThird{
        grid-column-end: span 8;
      }
      .md1{
        grid-column-end: span 12;
        
      }
      .md2{
        grid-column-end: span 6;
      }
      .md3{
        grid-column-end: span 4;
      }
      .md4{
        grid-column-end: span 3;
      }
      .md6{
        grid-column-end: span 2;
      }
      .md12{
        grid-column-end: span 1;
      }

/*DONT TOUCH*/  
}
/*DONT TOUCH*/

  /* above 1025px typically desktop */
  @media only screen and (min-width: 1025px){
    .oneThird{
        grid-column-end: span 4;
      }  
    .twoThird{
        grid-column-end: span 8;
      }
      .col1{
        grid-column-end: span 12;
      }
      .col2{
        grid-column-end: span 6;
      }
      .col3{
        grid-column-end: span 4;
      }
      .col4{
        grid-column-end: span 3;
      }
      .col6{
        grid-column-end: span 2;
      }
      .col12{
        grid-column-end: span 1;
      }
    

/*DONT TOUCH*/    
}
/*DONT TOUCH*/