html {
  height: 100%;
  width: 100%;
}

p {
font-family: Helvetica Neue, sans-serif; 
font-weight: 400;
position: absolute;
left: 16px;   
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

#demo {
  font-family: monospace;
  position: absolute;
  bottom: 8px;
  left: 16px;
}
